<h4>Search for a Blog</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form>
			<p>Here, You can search for a Blog by its heading</p>
			<div class="form-group">
				<label for="SearchPhrase" class="control-label"> </label>
				<input name="SearchPhrase" class="form-control"/>
			</div>

			<div class="form-group">
				<input type="submit" value="Search" class="btn btn-primary" />
				@Html.Action("ShowSearchResults")
			</div>
		</form>
	</div>
</div>
<div>
	@Html.ActionLink("Back to list","Index")
</div>