@{
	ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    2nd year engineering student at DCE, Gurugram<br />
    Haryana, India<br />
</address>

<address>
	<strong>LinkedIn</strong>   <a href="https://www.linkedin.com/in/sujal-gupta-b0a884235">Sujal Gupta</a><br />
	<strong>Leetcode</strong> <a href="https://leetcode.com/TheFatBallerina/">TheFatBallerina</a><br />
	<strong>Github</strong> <a href="https://github.com/SujalGupta910">SujalGupta910</a><br />
	<strong>Codeforces</strong> <a href="https://codeforces.com/profile/TheFatBallerina">TheFatBallerina</a><br />
</address>