@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BlogsApp</h1>
	<p class="lead">
		Best blog app of all time. Simple WebApp with user authentication for writing,
		editing, and deleting Blogs. Though, any user may view another user's blogs without authentication.
		Private blogs feature to be added later. Built using the ASP.NET MVC template.
	</p>
    <p><a href="https://www.linkedin.com/in/sujal-gupta-b0a884235" class="btn btn-primary btn-lg">Sujal Gupta's LinkedIn &raquo;</a></p>
</div>

